<!-- Visual Footer Removed -->
<footer style="display: none;"></footer>

<!-- Easter Egg: BSOD -->
<div id="bsod" class="hidden">
    <div class="bsod-content">
        <h1>:(</h1>
        <p>Your PC ran into a problem and needs to restart. We're just collecting some error info, and then we'll
            restart for you.</p>
        <p>0% complete</p>
        <div class="bsod-details">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/QR_code_for_mobile_English_Wikipedia.svg"
                alt="QR Code" class="bsod-qr">
            <div class="bsod-text">
                <p>For more information about this issue and possible fixes, visit https://www.windows.com/stopcode</p>
                <p>If you call a support person, give them this info:</p>
                <p>Stop code: CRITICAL_PROCESS_DIED</p>
            </div>
        </div>
    </div>
</div>

<script src="{{root_path}}/js/search_data.js"></script>
<script src="{{root_path}}/js/main.js"></script>
<script src="{{root_path}}/js/ctf.js"></script>