<!DOCTYPE html>
<html lang="en">

<head>
    {{head}}
</head>

<body>
    <div class="app-layout">
        {{sidebar_left}}

        <main class="main-content article-layout">
            <header class="article-header">
                <button id="sidebar-toggle" class="mobile-only" aria-label="Toggle Tree">☰</button>
                <div class="breadcrumbs">{{breadcrumbs}}</div>
                <h1>{{title}}</h1>
                <div class="article-meta">
                    <span class="last-updated">Last Updated: {{date}}</span>
                    <div class="tags-container">{{tags}}</div>
                </div>
            </header>

            <article class="markdown-content">
                {{content}}
            </article>
        </main>

        {{sidebar_right}}
    </div>

    {{footer}}
</body>

</html>